.recuo{
    margin-top: 8% !important;
}

#spinner{
    color: #800000 !important;
}

#naoEncontrado{
    color: #6a0a1b;
}

.color800{
    color: #6a0a1b !important;
}

.dropItem:hover{
    background-color: #6a0a1b !important;
}

.dropItem:hover .buttonItem{
    color: white !important;
}

.buttonItem{
    color: black !important;
    text-decoration: none !important
}


#pesquisar{
    border-color: #6a0a1b !important;
    color: black !important;
}

#headerItem{
    cursor: default;
}

#pesquisar:focus, .dropItem:focus, #dropdown:focus, #dropdownToggle:focus, #headerItem:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

#dropdown{
    width: 100%;
}

.listItem{
    border-color: #6a0a1b !important;
    color: black !important;
}

@media (max-width: 770px) {
    .recuo{
        margin-top: 20% !important;
    }   
}