html {
    scroll-behavior: smooth;
}

#spinner{
    color: #6a0a1b !important;
}

.z-index{
    z-index: 1;
} 

.containerH{
    min-height: 100vh;
}

.op{
    opacity: .3;
}

.recuo{
    margin-top: 5%;
}   

.iconButton{
    font-size: 25px;
}

#spinner{
    color: #800000 !important;
}

#file {
    position: absolute;
    visibility: hidden;
  }
  
  #label-file:hover {
    cursor: pointer;
  }
  
  #label-file:hover #image-photo-profile {
    opacity: .4;
  }
  
  #image-photo-profile {
    opacity: 1;
    border-radius: 10px;
    border: 1px solid lightgray;
  }
  
  .icon-camera-div {
    position: absolute;
    width: 200px;
    height: 200px;
    opacity: 0;
  }
  
  .icon-camera-div:hover {
    opacity: 1;
  }
  
  #camera {
      width: 80px;
      height: 80px;
      color: rgba(0, 0, 0, 0.5)
  }
  

@media (max-width: 770px) {
    .recuo{
        margin-top: 20%;
    }   
}

#divSpinner{
    height: 100vh !important;
}

@media (max-width: 750px){
    #divSpinner{
        top: 50px !important;
    }
}